# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata
.classpath
.project
bin/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Minecraft
run/
logs/

# macOS
.DS_Store

# Generated sources
src/generated/
